label(for="Title") Título
input(type="text" name="Title" required)
br
label(for="Director") Director
input(type="text" name="Director" required)
br
label(for="Year") Año
input(type="text" name="Year" required)
br
label(for="Genre") Género:
input(type="text" name="Genre" required)
br
label(for="Runtime") Duración:
input(type="text" name="Runtime" required)
br
label(for="Poster") Cartel (Url):
input(type="url" name="Poster" required)
br
label(for="Actors") Actores:
input(type="text" name="Actors" required)
br
label(for="Plot") Sipnosis:
textarea(id="Plot" name="Plot" required)
br