doctype html
html
   head
      title= "Films API - Tu Dashboard - Admin"
      link(rel="stylesheet", type='text/css', href="/normalice.css")
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            h1 Gesiona tus películas añadidas a la API
            
        main 
            section 
                a(href="adminMovies") 
                    button(id="total") TOTAL PELÍCULAS APP 
                button(id="crear") CREAR 
                button(id="editar") EDITAR 
                button(id="borrar") BORRAR

            section(id="formularioCrear" class="esconder")
                h3 Introduce los datos de la película que vas a añadir 
                form(action="", method="post" id="crearPeliAdmin") 
                    label(for="titulo") Título
                    input(type="text" name="Titulo" required)
                    br
                    label(for="director") Director
                    input(type="text" name="Drector" required)
                    br
                    label(for="year") Año
                    input(type="text" name="Year" required)
                    br
                    label(for="genero") Género:
                    input(type="text" name="Gender" required)
                    br
                    label(for="duracion") Duración:
                    input(type="text" name="Duration" required)
                    br
                    label(for="poster") Cartel (Url):
                    input(type="url" name="Poster")
                    br
                    input(type="submit" value="CREAR")

            section(id="formularioEditar" class="esconder")
                form(action="", method="put" id="editarPeliAdmin")
                    h3 Introduce el título de la película que vas a editar: 
                    input(type="text" name="tituloViejo" required)
                    h3 Introduce los nuevos datos:
                    label(for="tituloEdit") Título
                    input(type="text" name="tituloEdit" required)
                    label(for="directorEdit") Director
                    input(type="text" name="directorEdit")
                    label(for="yearEdit") Año
                    input(type="text" name="yearEdit")
                    label(for="generoEdit") Género:
                    input(type="text" name="generoEdit")
                    label(for="duracionEdit") Duración:
                    input(type="text" name="duracionEdit")
                    label(for="posterEdit") Cartel:
                    input(type="url" name="poster")
                    input(type="submit" value="EDITAR")


            section(id="formularioBorrar" class="esconder")
                form(action="", method="delete" id="borrarPeliAdmin")
                    h3 Introduce el título de la película que vas a borrar
                    input(type="text" name="borrarPeli" required) 
                    input(type="submit" value="BORRAR")


        footer 
            include ./footer.pug
        script(src='/script.js')
