doctype html
html
   head
      title= "Films API - Busca tu película"

      link(rel="stylesheet", type='text/css', href="/normalice.css")
      link(rel='stylesheet', type='text/css', href='./styles.css')

   body
        header
            include ./nav.pug 
           
        main 
            h1 Buscador de Películas
            
            form(action="/search/", method="post" class="formBusqueda") 
                label(for="title") Introdude el título de la película que quieres consultar 
                input.form-control(type='title', placeholder='Título' name='title')
                button(type="submit") Search 

        footer 
            include ./footer.pug
        script(src='/script.js')
