doctype html
html
   head
      title= "Films API - Homepage"
      link(rel="stylesheet", type='text/css', href="/normalice.css")
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            include ./nav.pug 
        main 
            section(id="buscador")
                form(action="/search/", method="post" id="searchAndLogin" class="formBusqueda")
                    h1 Busca tu película  
                    label(for='movie')
                    input.form-control(type='title', placeholder='   Título' name='title' id="searchBarBox")
                    button(type="submit", name="searchBtn", id="searchBtn") Search
                article(id="loginHome")
                    a(href="/login") 
                        button(type='button' id="login") Sign In / Registro
                img(src="", alt="")

           
        footer 
            include ./footer.pug
        script(src='/script.js')
