doctype html
html
   head
      title= "Films API - Homepage"
      link(rel="stylesheet", type='text/css', href="/normalice.css")
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            include ./nav.pug 
        main 
            h1 Busca tu película
            section(id="buscador")
                form(action="/search/", method="post" id="searchAndLogin")  
                    label(for='movie') Película:
                    input.form-control(type='title', placeholder='Película' name='title')
                    button(type="submit", name="searchBtn") Search
                article(id="loginHome")
                    a(href="/login") 
                        button(type='button' id="login") Sign In / Registro

           
        footer 
            include ./footer.pug
        script(src='/script.js')
