doctype html
html
   head
      title = "Films API - Listado películas"
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            h1 Resultados
            
        main 
            form(action="/search/", method="post") 
                input(type="text" name="tituloBuscar" placeholder="Nueva búsqueda" )
                input(type="submit")
     
            section 
                each val in peliObtenida.Search
                    section
                        article 
                            img(src=val.Poster)
                        article
                            div
                                h3= val.Title
                                p= val.Year
                            div
                                a(href="/search/details/"+val.imdbID)
                                    button(id="detalles") Ver detalles 
                                button(id="agregarFavoritos") Añadir a MIS PELÍCULAS


                

        footer 
            include ./footer.pug
        script(src='/script.js')
