doctype html
html
   head
      title= "Films API - Loading"
      link(rel="stylesheet", type='text/css', href="/normalice.css")
      link(rel='stylesheet', type='text/css', href='/styles.css')
      link(rel="shortcut icon", href="/assets/imgs/favicon.png", type="image/x-icon")
   body
        header
            include ./nav.pug 
            h1 Cargando Detalles #{titulo}
        main
            .loader
                .container
                .circle
                .circle
                .circle
                .circle
                .circle