link(rel='stylesheet', type='text/css', href='/nav.styles.css')

nav
    div 
        a(href="/") 
            img(src="/assets/imgs/logo_smile.png", alt="Smile Cinema Icon" id="smileIcon")
            
    div(id="desplegable")
        input(type="checkbox" id="menu")
        label(for="menu" id="menu-icon") ☰ 

        ul
            li 
                a(href="/") HOME
            li 
                a(href="/search") BUSCAR 
            li 
                a(href="/mispeliculas") MIS PELÍCULAS
            li 
                a(href="/dashboardUser") DASHBOARD
            li 
                a(href="/logout") LOG OUT                

