link(rel='stylesheet', type='text/css', href='/nav.styles.css')

nav
    div 
        img(src="/assets/imgs/logo_smile.png", alt="Smile Cinema Icon" id="smileIcon")
    div(id="desplegable")
        input(type="checkbox" id="menu")
        label(for="menu") ☰ 

        ul
            li HOME
            li BUSCAR 
            li MIS PELÍCULAS
            li DASHBOARD

