html
   head
      title = "Films API - Usuario"
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            h1 Gesiona tus películas añadidas a la API

        body 
            section(id="loginOk")
                h3 Bienvenido pepito 
                button() MI DASHBOARD 

            section(id="loginNoOk")
                h3 Parece que no recuerdas tu contraseña. Si necesitas cambiarla, pincha aquí.
                button() REUPERAR CONTRASEÑA

