doctype html
html
   head
      title= "Films API - Recupera tu contraseña"
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            h1 Recupera tu contraseña de FILM API 
            
        main 
            section(id="formularioRecuperacion")
                h3 Porfavor, introduce tu email para recibir la información de reseteo
                form(action="", method="post" id="recuperacion")  
                    input(type="text" name="emailRecuperacion")
                    input(type="submit" value="Pedir link de reset") 

           
        footer 
            include ./footer.pug
        script(src='/script.js')
