doctype html
html
   head
      title= "Films API - Regístrate"
      link(rel="stylesheet", type='text/css', href="/normalice.css")
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
           
            
        main 
            h1 Regístrate en SMILE CINEMA 
            section(id="formularioRegistro")
                h3 Para crear tu cuenta introduce tu email y contraseña
                form(action="/register", method="post" id="registro")  
                    input.form-control(type="text" name="email" placeholder="email")
                    input.form-control(type="text" name="username" placeholder="User Name")
                    input.form-control(type="text" name="password" placeholder="password")
                    button(type="submit") Registrar  

           
        footer 
            include ./footer.pug
        script(src='/script.js')
