each val in misPelisJs
    section(class ="contenedorPelis")
        article() 
            h4 Título: #{val.Title}
            p Director: #{val.Director}

        article(id="botones") 
            button(id="detalles") Ver detalles 
            button(id="eliminarFavoritos") Eliminar de MIS PELÍCULAS
