doctype html
html
   head
      title = "Films API - Regístrate"
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            h1 Regístrate en FILM API 
            
        main 
            section(id="formularioRegistro")
                h3 Para crear tu cuenta introduce tu email y contraseña
                form(action="", method="post" id="regsitro")  
                    input(type="text" name="emailReg")
                    input(type="text" name="passwordReg")
                    input(type="submit" value="REGISTRAR") 

           
        footer 
            include ./footer.pug
        script(src='/script.js')
