doctype html
html
   head
      title= "Films API - Regístrate"
      link(rel="stylesheet", type='text/css', href="/normalice.css")
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header 
            
        main 
            section(class="titular")
                article(class="aTitular")
                    img(src="/assets/imgs/icon05.png", alt="icono lupa" class="imgTitular")
                h1(class="hTitular") Regístrate en SMILE CINEMA 
            section(id="formularioRegistro")
                h3 Para crear tu cuenta introduce tu email y contraseña
                form(action="", method="post" id="regsitro")  
                    input(type="text" name="emailReg")
                    input(type="text" name="passwordReg")
                    input(type="submit" value="REGISTRAR") 

           
        footer 
            include ./footer.pug
        script(src='/script.js')
