doctype html
html
   head
      title = "Films API - Tu Dashboard"
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header
            h1 Bienvenido a tu espacio de usuario 
            
        main 

        footer 
            include ./footer.pug
        script(src='/script.js')
