doctype html
html
   head
      title= "Films API - Regístrate"
      link(rel="stylesheet", type='text/css', href="/normalice.css")
      link(rel='stylesheet', type='text/css', href='/styles.css')
   body
        header 
            
        main 
            section(class="titular")
                article(class="aTitular")
                    img(src="/assets/imgs/icon05.png", alt="icono lupa" class="imgTitular")
                h1(class="hTitular") Regístrate en SMILE CINEMA 
            section(id="formularioRegistro")
                h3 Para crear tu cuenta introduce tu email y contraseña
                form(action="/signup", method="post" id="registro")  
                    input.form-control(type="text" name="email" placeholder="email")
                    input.form-control(type="text" name="username" placeholder="User Name")
                    input.form-control(type="password" name="password" placeholder="password")
                    button(type="submit") Registrar  

           
        footer 
            include ./footer.pug
        script(src='/script.js')
