:root {
  --richBlack: #0c1618;
  --brunswickGreen: #004643;
  --cornSilk: rgb(250, 244, 209);
  --golgMetallic: #d1ac00;
  --hooverPeach: #f6be9a;
}

@font-face {
  font-family: Clover_bold;
  src: url('assets/fonts/CloverDisplay-Bold.ttf');
}

@font-face {
  font-family: Clover_extrabold;
  src: url('assets/fonts/CloverDisplay-ExtraBold.ttf');
}

@font-face {
  font-family: Clover_extralight;
  src: url('assets/fonts/CloverDisplay-ExtraLight.ttf');
}

@font-face {
  font-family: Clover_light;
  src: url('assets/fonts/CloverDisplay-Light.ttf');
}

@font-face {
  font-family: Clover_medium;
  src: url('assets/fonts/CloverDisplay-Medium.ttf');
}

@font-face {
  font-family: Clover_regular;
  src: url('assets/fonts/CloverDisplay-Regular.ttf');
}

@font-face {
  font-family: Clover_semibold;
  src: url('assets/fonts/CloverDisplay-SemiBold.ttf');
}

@font-face {
  font-family: Clover_thin;
  src: url('assets/fonts/CloverDisplay-Thin.ttf');
}

html {
  font-size: 20px;
}


body {
  margin:0;
  padding:0;
  font-family: Clover_regular;
  background-image: url('assets/imgs/background.jpg');
}

main{
  width: 95%;
  margin: auto;
  text-align: center;
}

h1{
  font-family: Clover_extrabold;
}

button{
  background-color: var(--golgMetallic);
  padding:8px;
  border-radius: 8px;
  margin: 10px;

}

.esconder{
  display:none;
}

.formBusqueda{
  background-color: rgba(250, 244, 209, 0.7);
  width: 60%;
  margin:auto;
  padding:15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}

/* VISTA DETALLES PELÃCULA */

.tarjetaPeli{
  background-color: rgba(250, 244, 209, 0.7);
  padding:10px;
  border-radius: 20px;
  width:90%;
  margin:auto;
  display: flex;
  align-items: center;
  
}

.datosPelis{
  text-align: left;
  margin:10px;
  width:60%;
  display:flex;
  align-items: center;
  flex-direction: column
}

.poster{
  width: 40%;
}

div>p{
  background-color: var(--brunswickGreen);
  color:white;
  padding:10px;
  margin-top:0;
  margin-bottom:10px;
  border-radius: 10px;
}

div>h2{
  margin-top: 0px;
}

/* VISTA RESULTADOS BUSQUEDA */
.pelisLista{
  height: 250px;
  background-color: rgba(250, 244, 209, 0.7);
  display:flex;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  max-width: 700px;
  width:90%;
 
}

.datosLista{
  margin-left: auto;
  margin-right: auto;
}

.posterLista{
  height: 250px;
  border-radius: 20px 0px 0px 20px; 
}

